<div class="container">
	<div id="content">
		<h1>My degree projects</h1>
		<p>This table shows all of your existing degree projects. If you press a link you can view specific degree project information 
			for a selected degree project or mark a degree project as finished/cancelled 
(			this will remove the degree project from your view but not from the database).</p>
		<table border="0" cellspacing="0" cellpadding="0"> 
  			<tr>
  				<td> 
  					<b>Credits</b> 
  				</td>
  				<td> 
  					<b>Preliminary title / Description</b> 
  				</td>
  				<td> 
  					<b>Number of students</b> 
  				</td>
  				<td> 
  					<b>Start date</b> 
  				</td>
  				<td> 
  					<b>Stop date</b> 
  				</td>
  				<td> 
  					<b>Within time limit</b> 
  				</td>
 			</tr>