<div class="container">
	<div id="content">
		<h1>Welcome to EXIT!</h1>

		<p>This is a system for directors of studies, examiners and students at KTH.
			It keeps track of how much of an examiners working hours are to be given to tutoring of degree projects, 
			which examiners that are avaliable to tutor degree projects, how much tutoring hours each examiner has 
			left on the current budget year and each examiner's degree projects. </p>

		<p>When you log out of the system you only log out from EXIT. If you want to log out from KTH CAS (Central Authentication Service) you need to close the browser. </p>

		<p>If you have any problems with the system press the <b>help</b> button. </p>
	</div><!-- content -->
</div>