<div class="container">
	<div id="content">
		<h1>Specified budget years</h1>
		<p>This table shows all parameters for all specified budget years</p>
		<table border="0" cellspacing="0" cellpadding="0">	
			<tr>
				<td> 
					<b>Budget year</b>
				</td>
				<td>
					<b>Master hours</b>
  				</td>
  				<td>
  					<b>Bachelor hours</b>
  				</td>
  				<td>
 					<b>Factor two</b>
 				</td>
  				<td>
  					<b>Factor three</b>
  				</td>
  				<td>
  					<b>Factor four</b>
  				</td>
  				<td>
  					<b>Factor five</b>
  				</td>
  				<td>
  					<b>Factor six</b>
  				</td>
  				<td>
  					<b>Factor seven</b>
  				</td>
  				<td>
  					<b>Factor eight</b>
  				</td>
  				<td>
  					<b>Factor nine</b>
  				</td>
  				<td>
  					<b>Factor ten</b>
  				</td>
  			</tr>