
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="en" />

	<!-- blueprint CSS framework -->
	<link rel="stylesheet" type="text/css" href="/styles/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print" />
	<link rel="stylesheet" type="text/css" href="/styles/main.css" />
	<link rel="stylesheet" type="text/css" href="/styles/form.css" />
    
	<title > EXIT - Examiners in information technology </title>
	
	 <link rel="shortcut icon" href="https://www.kth.se/img/icon/favicon.ico">

</head>


<body>

<div class="container" id="page">

	<div id="header">

		<div id="logo"> <img src="/images/kthexit.png" width=680 height=83 style=padding:10px;> 		<a href="http://www.kth.se" id="homeLink" title="Till KTH:s startsida">
			<img src="/images/kth.png" width=103 height=103 align=left></a>
		</div>
		<div id="google_translate_element"></div>
		<script type="text/javascript">
			function googleTranslateElementInit() {
			  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
			}
		</script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</div><!-- header -->

	

</html>