<div class="container">
	<div id="content">
		<h1>Specify tutoring hours</h1>
		<p>This table shows all available examiners in the system. 
			You can add an examiner to a specific budget year by choosing the budget year,
			 examiner mail and define the number of hours the examiner is supposed to use
			 to tutor degree projects during the selected budget year.</p>
		
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><b>Last name</b></td>
				<td><b>First name</b></td>
				<td><b>E-mail</b></td>
			</tr>